version: 2
jobs:
  build:
    docker:
      - image: marlinsearch:ubuntu
    steps:
      - checkout
      - run:
          name: Build Dependencies
          command: make deps
      - run:
          name: Build Marlin
          command: make
