version: 2
jobs:
  build:
    docker:
      - image: marlinsearch/ubuntu
    steps:
      - checkout
      - run:
          name: Build Dependencies
          command: make deps
      - run:
          name: Build Marlin
          command: make
      - run:
          name: Test Marlin
          command: make test
      - run:
          name: Coverage
          command: |
            make test
            cd build-debug
            lcov --directory . --capture --output-file coverage.info
            lcov --remove coverage.info '/usr/*' --output-file coverage.info
            lcov --list coverage.info
            bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"
